# Build Folders (you can keep bin if you'd like, to store dlls and pdbs)
bin
obj

# mstest test results
TestResults

*.vs10x
*.suo
*.userprefs
*.testrunconfig
*.user

Thumbs.db
.DS_Store
_ReSharper*
*.ReSharper.user
*.resharper.user
UpgradeLog*.XML
_Upgrade*
